body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

    /* Homepage Begin */
.hero-section {
    background: url('../images/Fort.png') no-repeat center;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 110vh;
    position: relative;
    z-index: -1;
}


.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}
.center-logo {
    width: 28%; 
    animation: liftUp 1s ease-in-out;
}
@keyframes liftUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 600px) {
    .center-image {
        padding-top: 48%; /* Adjust padding for smaller screens */
    }

    .center-logo {
        width: 80%; /* Adjust width for smaller screens */
    }
}
.kangaroo-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: auto;
    z-index: 1;
}

.countdown {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.elephant-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%; 
    height: auto;
    z-index: -1;
}

.elfsight-app-b399437b-d091-4fd2-97e4-555699fa089e {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

@media (max-width: 600px) {
    .countdown {
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    .countdown img {
        width: 25%;
        height: auto;
    }

    .countdown-timer {
        font-size: 14px;
    }

    .elfsight-app-b399437b-d091-4fd2-97e4-555699fa089e {
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}
    /* Homepage End */